<main>
    <section class="productDetails">
        <h1>Te damos la bienvenida a Ludussus</h1>
        <p>Revisa nuestra Barra de Navegación para revisar la Lista de Productos y para crear, actualizar y borrar productos en tiempo real ingresa a Websocket.</p>
    </section>
</main>