<nav>
    <ul>
        <li><a href="http://localhost:8080/api/products" >Lista de Productos</a></li>
        <li><a href="http://localhost:8080/realtimeproducts" >Websocket</a></li>
    </ul>
</nav> 